@import './../../styles/color.scss';
@import './../../styles/responsive.scss';
@import './../../styles/fonts.scss';
.blueHeader {
  display: flex;
  align-items: center;
  background-color: $color-bg-blue;
  color: white;
  height: 46px;
  padding: 0.75rem 2rem;
}

.blueHeader2 {
  background-color: $color-bg-blue;
}
