@import './../../styles/color.scss';
@import './../../styles/responsive.scss';
@import './../../styles/fonts.scss';
.blueHeader {
  display: flex;
  align-items: center;
  background-color: $color-bg-blue;
  color: white;
  height: 46px;
  padding: 0.75rem 2rem;
}

.blueHeader2 {
  background-color: $color-bg-blue;
}

.hasSpace {
  padding-left: 20px;
  padding-right: 20px;
}

.linkLine {
  display: inline;
  position: relative;
  overflow: hidden;
}
.linkLine:after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.linkLine:hover:after,
.linkLine:focus:after,
.linkLine:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
