@import './../../styles/color.scss';
@import './../../styles/responsive.scss';
@import './../../styles/fonts.scss';

.filterComponent {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: 600;
}
