@import './../../styles/color.scss';
@import './../../styles/responsive.scss';
@import './../../styles/fonts.scss';

.mobileFilterContainer {
  position: fixed;
  width: 0;
  min-height: 100vh;
  z-index: 1;
  top: 0;
  right: 0;
  transition: all 0.2s;
  background-color: white;
  @include desktop {
    display: none;
  }
}

.open {
  left: 0;
  width: 100vw;
}

.hideCenter {
  display: none;
  visibility: hidden;
}

.showCenter {
  display: block;
  visibility: visible;
}

.blueHeaderForMobile {
  background-color: rgb(42, 67, 101);
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: 600;
  height: 64px;
  .left {
    display: flex;
    width: 40px;
    // border: solid brown;
    justify-content: center;
    align-items: center;
  }
  .center {
    display: flex;
    // border: solid brown;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
