@import './../../styles/color.scss';
@import './../../styles/responsive.scss';
@import './../../styles/fonts.scss';

.leftBox {
  border: 2px solid black;
  background-color: white;
  width: 460px;
  margin-right: 2rem;
  .filterBox {
    display: flex;
    flex-direction: column;
  }
}
