@import './../../styles/color.scss';
@import './../../styles/responsive.scss';
@import './../../styles/fonts.scss';

.bold {
  font-weight: 600;
}
.leftBox {
  //   border: 2px solid black;
  background-color: white;
  border: solid 1px #999999;
  width: 360px;
  padding: 16px;
  margin-right: 2rem;
  @include mobile {
    display: none;
  }
  @include desktop {
    display: block;
  }
  .filterBox {
    display: flex;
    flex-direction: column;
  }
}
