//solid for bg
$color-bg-white: #ffffff;
$color-bg-blue: #283a7c;
$color-bg-green: rgb(27, 195, 0); //open

//for text
$color-text-grey: #bfbfbf; //for search place holder
$color-text-black: rgba(0, 0, 0, 0.85); //for body text
