//solid for bg
$color-bg-white: #ffffff;
$color-bg-blue: #283a7c;
$color-bg-green: rgb(27, 195, 0); //open

//for text
$color-text-grey: #bfbfbf; //for search place holder
$color-text-grey2: #999999; // for grey text in card
$color-text-grey3: #bbbbbb; // for grey text in card
$color-text-black: rgba(0, 0, 0, 0.85); //for body text
$color-text-dark-grey: rgb(34, 34, 34); //for card
